$off-white: #777;


.footer {
  background-color: #131313;
  color: $off-white;
  padding-top: 10px;
  font-family: "Source Sans Pro", sans-serif;

  h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro", sans-serif;
  }

  .container {
    padding: 0px;
  }

  a {
    color: $off-white;
    text-transform: none;
    font-weight: normal;
    font-size: 14px;
  }
  h5 {
    color: #fff;
    margin-top: 60px;
    a {
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: #fff;
      cursor: default;
    }
    a:hover {
      text-decoration: none;
    }
    i.fa {
      display: none;
    }
  }
  .collapse:not(.show) {
    display: block;
  }
  a:hover {
    color: #fff;
  }
  a.footer-links {
    display: block;
    margin-bottom: 10px;
  }

  .kaltura-links {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 30px;
    border-top: 1px solid $off-white;
    border-bottom: 1px solid $off-white;

    line-height: 50px;
    img {
      height: 50px;
    }

    .footer-last-links-column a {
      padding: 10px 20px;
    }
    .social-icon-container {
      text-align: right;
    }
    .social-icon-container a {
      padding: 10px;
    }
  }

  .copyright-container {
    text-align: center;
    font-size: 12px;
    padding: 30px;

    div {
      display: inline;
    }
  }
  @media (max-width: 767px) {
    .container, .row {
      margin: 0;
      max-width: 1000px;
    }
    .col {
      width: 100%;
      flex-basis: unset;
      flex-grow: unset;
    }
    .footer-links-columns {
      padding: 20px 30px;
    }
    .footer-links-columns {
      border-bottom: 1px solid $off-white;
    }
    .footer-last-links-column,
    .social-icon-container,
    .footer-links-columns {
      .collapse.show, .collapse.in, .collapsing {
        margin-top: 15px;
      }
      .secondary-links {
        display: none; /* TODO: show these links */
      }
    }
    .collapse:not(.show) {
      display: none;
    }
    h5 {
      margin: 0px;
      a {
        width: 100%;
        display: inline-block;
        cursor: pointer;
        i.fa {
          float: right;
          display: inline;
        }
      }
      a.collapsed i.fa:before {
        content: "\f078";
      }
    }
    .kaltura-links {
      text-align: center;
      border-top: none;
      border-bottom: none;
      .footer-last-links-column,
      .social-icon-container {
        text-align: center;
      }
    }
  }
}

