.welcome-page {
  padding-bottom: 0px;

  div.welcome-background {
    height: 500px;
    background-image: url('/homepage/assets/background.jpg');
  }

  .welcome {
    padding: 50px;
    font-style: italic;

    .btn {
      font-style: normal;
      padding: 15px 20px;
    }

    p span {
      max-width: 500px;
      display: inline-block;
    }
  }
}

.features-page {
  padding-bottom: 100px;
  .feature {
    text-align: center;
    margin-bottom: 60px;
    img {
      height: 100px;
    }
    hr {
      width: 50px;
      background-color: #F5AB13;
      height: 4px;
    }
    h4 {
      font-style: italic;
    }
    p span {
      max-width: 200px;
      display: inline-block;
    }
  }
}

.code-page {
  background-color: #eaeaea;
  .code-box {
    .nav-link {
      background-color: #fff;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 15px 20px;
      border: none;
    }
    .nav-link, .dropdown-item {
      cursor: pointer;
    }
    .nav-link:hover {
      border: none;
      background-color: #d9d9d9;
    }
    .nav-link.active {
      background-color: theme-color('primary');
      color: #fff;
    }
    pre {
      background-color: #212727;
      color: #fff;
      padding: 15px;
    }
  }
  .code-description {
    padding-top: 30px;
    text-align: center;
    .btn-default {
      border-color: theme-color('primary');
      color: theme-color('primary');
    }
    .btn-default:hover {
      background-color: lighten(#00abcc, 30%)
    }
    .console-link {
      text-transform: none;
      cursor: pointer;
      .fa {
        color: theme-color('primary');
      }
    }
  }

  .nav-item.extra {
    display: none;
  }
  .nav-item .dropdown-toggle:after {
    border: none;
  }
  @include media-breakpoint-up(lg) {
    .nav-item.extra {
      display: block;
    }
    .nav-item.dropdown {
      display: none;
    }
    .code-description {
      text-align: left;
      padding-top: 80px;
      padding-left: 40px;
    }
  }
}

.player-page {
  .player-button {
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
    margin-bottom: 30px;
    cursor: pointer;
    h6 {
      font-size: 14px;
      font-weight: bold;
    }
    img {
      height: 20px;
      margin-bottom: 15px;
    }
  }

  .player-button, .dropdown {
    img {
      height: 20px;
    }
  }

  .player-button.active {
    color: #fff;
    background-color: theme-color('primary');
  }
  .video-player img {
    max-width: 100%;
  }

  .container, .tablet {
    display: none;
  }
  .mobile {
    .dropdown {
      margin-bottom: 15px;
    }
    .btn.dropdown-toggle {
      border: 1px solid #ccc;
    }
    .dropdown-toggle:after {
      border: none;
    }
    a.dropdown-item {
      text-transform: none;
    }
    img {
      margin-right: 8px;
    }
  }
  .tablet {
    .player-button {
      width: 16.666667%;
    }
  }
  .mobile, .tablet {
    .video-player {
      padding: 15px;
    }
  }
  @include media-breakpoint-up(md) {
    .mobile {
      display: none;
    }
    .tablet {
      display: block;
    }
  }
  @include media-breakpoint-up(lg) {
    .tablet {
      display: none;
    }
    .container {
      display: block;
    }
  }
}

.mobile-page {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #fff;
  .mobile-background {
    padding-top: 60px;
    height: 800px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/homepage/assets/background.jpg');
  }
  .features {
    .spacing {
      width: 1%;
    }
    .feature-box {
      text-align: center;
      background-color: rgba(0, 0, 0, .5);
      padding: 25px;
      width: 24%;
      display: inline-block;
      margin-bottom: 4px;
      h5 {
        font-style: italic;
      }
    }
  }
  .logos {
    text-align: center;
    .logo {
      padding: 15px;
      width: 15%;
    }
  }
  @include media-breakpoint-down(sm) {
    .features {
      .separator {
        flex-basis: 100%;
      }
      .feature-box {
        width: 49%;
      }
    }
    .mobile-background {
      height: 900px;
    }
  }
  .bullets {
    position: relative;
    height: 425px;
  }
  .bullet {
    position: absolute;
    left: 50px;
    width: 300px;
    font-size: 18px;
    .bullet-image {
      margin: 0px 10px;
      border: 1px solid #fff;
      width: 50px;
      height: 50px;
      border-radius: 25px;
      padding: 5px;
      display: inline-block;
    }
    .bullet-label {
      line-height: 50px;
      vertical-align: bottom;
      border-bottom: 1px solid #fff;
      display: inline-block;
      width: 200px;
    }
    .pointer {
	  width: 8px;
	  height: 8px;
	  background-color: #fff;
	  border-radius: 4px;
	  position: absolute;
	  right: 25px;
	  bottom: -4px;
    }
  }
  .bullet-2-mobile, .bullet-4-mobile {
    display: none;
  }
  @include media-breakpoint-down(sm) {
    .bullet-2, .bullet-4 {
      display: none;
    }
    .bullet-2-mobile, .bullet-4-mobile {
      display: block;
    }
    .bullet-1 {
      top: 0px;
    }
    .bullet-2-mobile {
      top: 100px;
    }
    .bullet-3 {
      top: 200px;
    }
    .bullet-4-mobile {
      top: 300px;
    }
  }
  @include media-breakpoint-up(md) {
    .bullet-2, .bullet-4 {
      text-align: right;
      left: unset;
      .pointer {
        left: 25px;
      }
    }
    .bullet-1 {
      left: 50px;
      top: 50px;
    }
    .bullet-2 {
      right: 50px;
      top: 50px;
    }
    .bullet-3 {
      left: 50px;
      top: 150px;
    }
    .bullet-4 {
      right: 50px;
      top: 150px;
    }
  }
  @include media-breakpoint-up(lg) {
    .bullet-1 {
      left: 150px;
    }
    .bullet-2 {
      right: 100px;
      top: 80px;
    }
    .bullet-3 {
      left: 50px;
    }
    .bullet-4 {
      top: 200px;
      right: 50px;
    }
  }
  @include media-breakpoint-up(xl) {
    .bullet-1 {
      left: 250px;
    }
    .bullet-2 {
      right: 200px;
      top: 80px;
    }
    .bullet-3 {
      left: 100px;
    }
    .bullet-4 {
      top: 200px;
      right: 150px;
    }
  }
}

.signup-page {
  background-color: #A1E130;
  .sign-up-section {
    .btn {
      color: #A1E130;
    }
  }
}
