.welcome-page {
  padding-bottom: 0px;

  div.welcome-background {
    height: 500px;
    background-image: url('/homepage/assets/background.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .welcome {
    padding: 50px;
    font-style: italic;

    .btn {
      font-style: normal;
      padding: 15px 20px;
    }

    p span {
      max-width: 500px;
      display: inline-block;
    }
  }
}

.features-page {
  padding-bottom: 100px;
  .feature {
    text-align: center;
    img {
      height: 100px;
    }
    hr {
      width: 50px;
      background-color: #F5AB13;
      height: 4px;
    }
    h4 {
      font-style: italic;
    }
    p span {
      max-width: 200px;
      display: inline-block;
    }
  }
}

.code-page {
  background-color: #eaeaea;
  .code-box {
    .nav-link {
      background-color: #fff;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 15px 20px;
      border: none;
      cursor: pointer;
    }
    .nav-link:hover {
      border: none;
      background-color: #d9d9d9;
    }
    .nav-link.active {
      background-color: theme-color('primary');
      color: #fff;
    }
    pre {
      background-color: #212727;
      color: #fff;
      padding: 15px;
    }
  }
  .code-description {
    padding-top: 80px;
    padding-left: 40px;
    .btn-default {
      border-color: theme-color('primary');
      color: theme-color('primary');
    }
    .console-link {
      text-transform: none;
      .fa {
        color: theme-color('primary');
      }
    }
  }
}

.player-page {
  .player-button {
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    img {
      height: 20px;
      margin-bottom: 10px;
    }
  }
  .player-button.active {
    color: #fff;
    background-color: theme-color('primary');
  }
  .video-player img {
    max-width: 100%;
  }
}

.mobile-page {
  padding-top: 0px;
  padding-bottom: 0px;
  .mobile-background {
    padding-top: 60px;
    height: 500px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/homepage/assets/background.jpg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .sign-up-section {
    padding: 60px;
    background-color: #A1E130;
    .btn {
      color: #A1E130;
    }
  }
}
