.welcome-page {
  padding-bottom: 0px;

  div.welcome-background {
    height: 500px;
    background-image: url('/homepage/assets/background.jpg');
  }

  .welcome {
    padding: 50px;
    font-style: italic;

    .btn {
      font-style: normal;
      padding: 15px 20px;
    }

    p span {
      max-width: 500px;
      display: inline-block;
    }
  }
}

.features-page {
  padding-bottom: 100px;
  .feature {
    text-align: center;
    margin-bottom: 60px;
    img {
      height: 100px;
    }
    hr {
      width: 50px;
      background-color: #F5AB13;
      height: 4px;
    }
    h4 {
      font-style: italic;
    }
    p span {
      max-width: 200px;
      display: inline-block;
    }
  }
}

.code-page {
  background-color: #eaeaea;
  .code-box {
    .nav-link {
      background-color: #fff;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      padding: 15px 20px;
      border: none;
    }
    .nav-link, .dropdown-item {
      cursor: pointer;
    }
    .nav-link:hover {
      border: none;
      background-color: #d9d9d9;
    }
    .nav-link.active {
      background-color: theme-color('primary');
      color: #fff;
    }
    pre {
      background-color: #212727;
      color: #fff;
      padding: 15px;
    }
  }
  .code-description {
    padding-top: 30px;
    text-align: center;
    .btn-default {
      border-color: theme-color('primary');
      color: theme-color('primary');
    }
    .btn-default:hover {
      background-color: lighten(#00abcc, 30%)
    }
    .console-link {
      text-transform: none;
      cursor: pointer;
      .fa {
        color: theme-color('primary');
      }
    }
  }

  .nav-item.extra {
    display: none;
  }
  .nav-item .dropdown-toggle:after {
    border: none;
  }
  @include media-breakpoint-up(md) {
    .nav-item.extra {
      display: block;
    }
    .nav-item.dropdown {
      display: none;
    }
    .code-description {
      text-align: left;
      padding-top: 80px;
      padding-left: 40px;
    }
  }

}

.player-page {
  .player-button {
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    cursor: pointer;
    img {
      height: 20px;
      margin-bottom: 10px;
    }
  }

  .player-button, .dropdown {
    img {
      height: 20px;
    }
  }

  .player-button.active {
    color: #fff;
    background-color: theme-color('primary');
  }
  .video-player img {
    max-width: 100%;
  }

  .container {
    display: none;
  }
  .mobile {
    .dropdown {
      margin-bottom: 15px;
    }
    .btn.dropdown-toggle {
      border: 1px solid #ccc;
    }
    .dropdown-toggle:after {
      border: none;
    }
    a.dropdown-item {
      text-transform: none;
    }
    img {
      margin-right: 8px;
    }
    .video-player {
      padding: 15px;
    }
  }
  @include media-breakpoint-up(sm) {
    .container {
      display: block;
    }
    .mobile {
      display: none;
    }
  }
}

.mobile-page {
  padding-top: 0px;
  padding-bottom: 0px;
  .mobile-background {
    padding-top: 60px;
    height: 500px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/homepage/assets/background.jpg');
  }
}
.signup-page {
  background-color: #A1E130;
  .sign-up-section {
    .btn {
      color: #A1E130;
    }
  }
}
