hr.separator
h3.section-title
  span Products for Admissions and Marketing
.container-fluid
  .row
    .col.col.xs-12.col-lg-6
      .code-box
        mixin code-link(name, label, isExtra)
          li.nav-item(class=isExtra ? name + " extra" : name)
            a.nav-link(onclick="setCode('" + name + "')")
              span=label
        ul.nav.nav-tabs.nav-justified
          +code-link('php', 'PHP')
          +code-link('ajax', 'JS')
          +code-link('java', 'Java')
          +code-link('python', 'Python')
          +code-link('node', 'Node', true)
          +code-link('csharp', 'C#', true)
          +code-link('ruby', 'Ruby', true)
          li.nav-item.dropdown.visible-xs
            a.nav-link.dropdown-toggle(data-toggle="dropdown")
              i.fa.fa-plus-circle
            .dropdown-menu
              a.dropdown-item(onclick="setCode('node')") Node
              a.dropdown-item(onclick="setCode('csharp')") C#
              a.dropdown-item(onclick="setCode('ruby')") Ruby
        pre
          code.hljs.php
            include ../assets/code/php.html
          code.hljs.ajax.javascript
            include ../assets/code/ajax.html
          code.hljs.java
            include ../assets/code/java.html
          code.hljs.python
            include ../assets/code/python.html
          code.hljs.node.javascript
            include ../assets/code/node.html
          code.hljs.csharp.cs
            include ../assets/code/csharp.html
          code.hljs.ruby
            include ../assets/code/ruby.html
    .col.col.xs-12.col-lg-6
      .code-description
        h4 Upload and ingest media with ease
        p.
          Uploading videos to Kaltura using the API is super simple.
          Videos can be located on disk, or be specified as an HTML
          file input. Our jQuery upload widget provides a chunked
          upload with pause and resume functionality and optimization
          for file chunk size.
        p
          a.btn.btn-default
            span Show me another example
        p
          a.console-link
            span Or try it in our console
            i.fa.fa-right.fa-chevron-right
