hr.separator
h3.section-title
  span Enhance Your Video Experience with Our Collection of APIs
.container-fluid
  .row
    mixin feature(image, title, description)
      .col.col-sm-6.col-md-3
        .feature
          img(src=image)
          hr
          h4=title
          p
            span=description
    +feature('/homepage/assets/background.jpg', 'Video Analytics', 'Measure & optimize user engagement KPIs')
    +feature('/homepage/assets/background.jpg', 'Interactive Video', 'Video experiences that drive action')
    +feature('/homepage/assets/background.jpg', 'Live Streaming', 'Securely broadcast live video events')
    +feature('/homepage/assets/background.jpg', 'Secure Workflows', 'Ingest, process, and distribute video at scale')
