doctype html
html
  head
    include ./head
  body
    include ./marketing-navbar
    .page.welcome-page
      include ./marketing-welcome
    .page.code-page
      include ./code
    .page.page-inverse.signup-page
      include ./marketing-signup
    include ./footer
