nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  span.navbar-brand
    img(src="/homepage/assets/images/Kaltura-logo.png")
    span.brand-subtitle Developer
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMenu"
                        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
