.mobile-background.background
  hr.separator.separator-inverse
  h3.section-title Build Native Video Apps for TV and Mobile
  .bullets
    .bullet.bullet-1
      img.bullet-image(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Less-memory-icon.png")
      .bullet-label Less memory
      .pointer
    .bullet.bullet-2
      .pointer
      .bullet-label Full control
      img.bullet-image(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Full-control-icon.png")
    .bullet.bullet-2-mobile
      img.bullet-image(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Full-control-icon.png")
      .bullet-label Full control
      .pointer
    .bullet.bullet-3
      img.bullet-image(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Quick-time-to-first-frame.png")
      .bullet-label Quick time to first frame
      .pointer
    .bullet.bullet-4
      .pointer
      .bullet-label Easily extendable
      img.bullet-image(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Easily-extendable-icon.png")
    .bullet.bullet-4-mobile
      img.bullet-image(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Easily-extendable-icon.png")
      .bullet-label Easily extendable
      .pointer

  mixin feature-box(number, label)
    .feature-box
      h5=number
      span=label
  .features.d-flex.flex-row.flex-wrap
    .spacing.spacing-left
    +feature-box('Thousands', 'of devices')
    .spacing
    +feature-box('Millions', 'of users')
    .spacing.separator
    +feature-box('Billions', 'of sessions')
    .spacing
    +feature-box('Zero', 'crashes')
    .spacing.spacing-right
  .logos
    img.logo.apple-logo(src="/homepage/assets/images/Build%20Native%20Video%20Apps/apple-tv-logo.png")
    img.logo.android-logo(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Android-tv-logo.png")
    img.logo.roku-logo(src="/homepage/assets/images/Build%20Native%20Video%20Apps/Roku-logo.png")
    img.logo.smarttv-logo(src="/homepage/assets/images/Build%20Native%20Video%20Apps/smarttv-logo.png")

