nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  a.navbar-brand
    img(src="/homepage/assets/logo.png")
  .collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link API Docs
      li.nav-item
        a.nav-link API Console
      li.nav-item
        a.nav-link Workflows
      li.nav-item
        a.nav-link Player
      li.nav-item
        a.nav-link Client Libraries
      li.nav-item
        a.btn.btn-success Sign In
