iframe.welcome-video(src="https://cdnapisec.kaltura.com/p/811441/embedPlaykitJs/uiconf_id/42651182?iframeembed=true&entry_id=0_cm8rhiwp")
div.welcome.text-center.bg-primary
  h2 Everything video. Built by you.
  p.subtitle
    span.
      Integrate rich video experiences into existing applications,
      business workflows, and environments
  p
    a.btn.btn-success(href="https://vpaas.kaltura.com/register.php?utm_source=developertools&utm_campaign=login&utm_medium=website") Sign up for free
