.responsive-video
  #kaltura-player.welcome-video.video-player.video-bg-white
script.
  var kalturaPlayer = KalturaPlayer.setup({
  targetId: "kaltura-player",
    provider: {
      partnerId: 811441,
      uiConfId: 42685191
    },
    playback: {
      autoplay: true
    }
  });
  kalturaPlayer.loadMedia({entryId: '0_cm8rhiwp'});

div.welcome.text-center.bg-primary
  h2 Everything video. Built by you.
  p.subtitle
    span.
      Integrate rich video experiences into existing applications,
      business workflows, and environments
  p
    a.btn.btn-success(href="https://vpaas.kaltura.com/register.php?utm_source=developertools&utm_campaign=login&utm_medium=website") Sign up for free
