div.welcome-background
div.welcome.text-center.bg-primary
  h2 Everything video. Built by you.
  p
    span.
      Integrate rich video experiences into existing applications,
      business workflows, and environments
  p
    a.btn.btn-success Sign up for free
