<style>
	body{min-height:1200px;}

.clearbanner{transition-duration:.2s;}
.clearbanner:hover{  filter: brightness(120%); color:#fff; border-top:1px solid #dfad6d; }
</style>
<script>
$(function(){
  $('.clearbanner').click(function(){
    $('.banner').hide();
  });
});
</script>
<div class="banner" style="display: flex;align-items: center;flex-direction: column;width:100%;height:100%"></p>
   
      <iframe align="middle" scrolling="no" width="1024px;"  height="700px" src="homepage/assets/banner_iframe.html" frameborder="0" allowfullscreen="allowfullscreen">
      </iframe>
 
      <div class="clearbanner" style="display: flex;align-items: center;flex-direction: column;">Close</div>

</div>
