<style>
	body{min-height:1200px;}

.clearbanner{transition-duration:.2s;color:rgb(39, 58, 140);}
.clearbanner:hover{  filter: brightness(120%); display: flex;align-items: center;flex-direction: column; }
</style>
<script>
$(function(){
  $('.clearbanner').click(function(){
    $('.banner').hide();
  });
});
</script>
<div class="banner" style="display: flex;align-items: center;flex-direction: column;width:100%;height:100%"></p>
   
      <iframe align="middle" scrolling="no" width="1024px;"  height="700px" src="homepage/assets/banner_iframe.html" frameborder="0" allowfullscreen="allowfullscreen">
      </iframe>
 
      <div class="clearbanner">Close Banner</div>

</div>
