hr.separator
h3.section-title HTML5 Video Player for any Experience

mixin player-button(idx, title)
  a.player-button.player-item(class="player-item-idx-" + idx, onclick="setVideo(" + idx + ")")
    img.active(src='/homepage/assets/images/HTML5%20Video%20Player/white/Tab' + idx + '-icon.svg')
    img.inactive(src='/homepage/assets/images/HTML5%20Video%20Player/Tab' + idx + '-icon.svg')
    h6=title
mixin player-dropdown-item(idx, title)
  a.dropdown-item(onclick="setVideo(" + idx + ")")
    img(src='/homepage/assets/images/HTML5%20Video%20Player/Tab' + idx + '-icon.svg')
    span=title
mixin player-dropdown-display(idx, title)
  span.player-item(class="player-item-idx-" + idx)
    img(src='/homepage/assets/images/HTML5%20Video%20Player/Tab' + idx + '-icon.svg')
    span=title

.desktop.container
  .row
    .col
      .row
        .col
          +player-button(4, 'Interactive storytelling')
        .col
          +player-button(3, 'In video quizzes')
        .col
          +player-button(5, 'Dual screen presentation')
      .row
        .col
          +player-button(1, 'Accessibility')
        .col
          +player-button(2, 'Most ads delivered')
        .col
          +player-button(6, '360 Video and VR')
    .col
      .iframe-player-wrapper
        iframe.player-example(allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0")
.tablet
  .d-flex
    +player-button(4, 'Interactive storytelling')
    +player-button(3, 'In video quizzes')
    +player-button(5, 'Dual screen presentation')
    +player-button(1, 'Accessibility')
    +player-button(2, 'Most ads delivered')
    +player-button(6, '360 Video and VR')
  .iframe-player-wrapper
    iframe.player-example(allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0")

.mobile.text-center
  .dropdown.player-dropdown
    a.btn.dropdown-toggle(data-toggle="dropdown")
      +player-dropdown-display(4, 'Interactive storytelling')
      +player-dropdown-display(3, 'In video quizzes')
      +player-dropdown-display(5, 'Dual screen presentation')
      +player-dropdown-display(1, 'Accessibility')
      +player-dropdown-display(2, 'Most ads delivered')
      +player-dropdown-display(6, '360 Video and VR')
      i.fa.fa-right.fa-chevron-down
    .dropdown-menu
      +player-dropdown-item(4, 'Interactive storytelling')
      +player-dropdown-item(3, 'In video quizzes')
      +player-dropdown-item(5, 'Dual screen presentation')
      +player-dropdown-item(1, 'Accessibility')
      +player-dropdown-item(2, 'Most ads delivered')
      +player-dropdown-item(6, '360 Video and VR')

  .iframe-player-wrapper
    iframe.player-example(allowfullscreen webkitallowfullscreen mozAllowFullScreen allow="autoplay *; fullscreen *; encrypted-media *" frameborder="0")
