.text-center.sign-up-section
  hr.separator.separator-inverse
  h3.section-title
    span Create a Kaltura Account
  a.btn.btn-light(href="https://vpaas.kaltura.com/register.php?utm_source=developertools&utm_campaign=login&utm_medium=website")
    span Sign up for free

