<div class="footer" id="KalturaFooterContainer">
<div id="KalturaFooter" class="w-section footer-section">
  <div class="w-container container footer-container">
    <div class="row">
      <div class="col text-center title1">
        Can't Find an answer? 
      </div>
    </div>
    <div class="row">
      <div class="col col-xs-12 col-sm-6 col-lg-3">
        <div class="help-container">
          <div class="title2">
            Contact Support
          </div>
          <div class="desc">Get technical assistance from our support agents</div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-lg-3">
        <div class="help-container">
          <div class="title2">
            Requests a Training
          </div>
          <div class="desc">Learn about Kaltura products from our experts</div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-lg-3">
        <div class="help-container">
          <div class="title2">
            Community Forum
          </div>
          <div class="desc">Ask help from the community</div>
        </div>
      </div>
      <div class="col col-xs-12 col-sm-6 col-lg-3">
        <div class="help-container">
          <div class="title2">
            Kaltura Blog
          </div>
          <div class="desc">Get great tips on how to use video better!</div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="kaltura-foot-links">
    <div class="container" style="width: 100%;">
      <div class="row">
        <div class="col col-xs-12 col-lg-3">
          <img src="assets/icons/kaltura-logo.png" style="width: 120px;">
          <div class="social-container" style="padding-top:20px;">
            <a href="https://twitter.com/Kaltura" target="_blank" style="padding-right:16px;"><img src="assets/icons/twitter.png" style="width:32px;"/></a>
            <a href="https://www.linkedin.com/company/kaltura" target="_blank" style="padding-right:16px;"><img src="assets/icons/linkedin.png" style="width:32px;"/></a>
            <a href="https://github.com/kaltura" target="_blank" style="padding-right:16px;"><img src="assets/icons/github.png" style="width:32px;"/></a>
            <a href="https://stackoverflow.com/questions/tagged/kaltura" target="_blank" style="padding-right:16px;"><img src="assets/icons/stackoverflow.png" style="width:32px;"/></a>
          </div>
        </div>
        <div class="col col-xs-12 col-lg-9">
          <div class="row">
            <div class="col col-xs-12 col-lg-3">
              <div class="title">Media Services</div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="/Home">Overview</a></div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="https://corp.kaltura.com/video-paas/registration/?utm_source=developertools&utm_campaign=login&utm_medium=website">Register for a free Trial</a></div>
            </div>
            <div class="col col-xs-12 col-lg-3">
              <div class="title">Resources</div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="https://knowledge.kaltura.com/">Kaltura Knowledge Center</a><br></div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="https://github.com/kaltura">Kaltura on Github</a></div>
            </div>
            <div class="col col-xs-12 col-lg-3">
              <div class="title">Contact</div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="#">Support</a></div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="#">Request Training</a></div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="#">Talk to Sales</a></div>
            </div>
            <div class="col col-xs-12 col-lg-3">
              <div class="title">Community</div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="https://forum.kaltura.org/">Developer Forum</a><br></div>
              <div class="link"><a style="color: white;font-size:0.9em;" href="https://corp.kaltura.com/video-technology-marketplace/">Partner Network</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
if (window.lucybot.embed) {
  elem = document.getElementById('KalturaFooterContainer');
  if (elem) elem.remove();
}
</script>

