@charset "UTF-8";
.footer {
  color: #777;
  font-family: "Source Sans Pro", sans-serif;
}
.footer h1, .footer h2, .footer h3, .footer h4, .footer h5, .footer h6 {
  font-family: "Source Sans Pro", sans-serif;
}
.footer a {
  color: #777;
  text-transform: none;
  font-weight: normal;
  font-size: 14px;
}
.footer h5 {
  color: #fff;
  margin-top: 60px;
}
.footer h5 a {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: default;
}
.footer h5 a:hover {
  text-decoration: none;
}
.footer h5 i.fa {
  display: none;
}
.footer .collapse:not(.show) {
  display: block;
}
.footer a:hover {
  color: #fff;
}
.footer a.footer-links {
  display: block;
  margin-bottom: 10px;
}
.footer .kaltura-links {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 30px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
  line-height: 50px;
}
.footer .kaltura-links img {
  height: 50px;
}
.footer .kaltura-links .footer-last-links-column a {
  padding: 10px 20px;
}
.footer .kaltura-links .social-icon-container {
  text-align: right;
}
.footer .kaltura-links .social-icon-container a {
  padding: 10px;
}
.footer .copyright-container {
  text-align: center;
  font-size: 12px;
  padding: 30px;
}
.footer .copyright-container div {
  display: inline;
}
@media (max-width: 767px) {
  .footer .container, .footer .row {
    margin: 0;
    max-width: 1000px;
  }
  .footer .col {
    width: 100%;
    flex-basis: unset;
    flex-grow: unset;
  }
  .footer .footer-links-columns {
    padding: 20px 30px;
  }
  .footer .footer-links-columns {
    border-bottom: 1px solid #777;
  }
  .footer .footer-last-links-column .collapse.show, .footer .footer-last-links-column .collapse.in, .footer .footer-last-links-column .collapsing,
.footer .social-icon-container .collapse.show,
.footer .social-icon-container .collapse.in,
.footer .social-icon-container .collapsing,
.footer .footer-links-columns .collapse.show,
.footer .footer-links-columns .collapse.in,
.footer .footer-links-columns .collapsing {
    margin-top: 15px;
  }
  .footer .footer-last-links-column .secondary-links,
.footer .social-icon-container .secondary-links,
.footer .footer-links-columns .secondary-links {
    display: none;
    /* TODO: show these links */
  }
  .footer .collapse:not(.show) {
    display: none;
  }
  .footer h5 {
    margin: 0px;
  }
  .footer h5 a {
    width: 100%;
    display: inline-block;
    cursor: pointer;
  }
  .footer h5 a i.fa {
    float: right;
    display: inline;
  }
  .footer h5 a.collapsed i.fa:before {
    content: "ÔÅ∏";
  }
  .footer .kaltura-links {
    text-align: center;
    border-top: none;
    border-bottom: none;
  }
  .footer .kaltura-links .footer-last-links-column,
.footer .kaltura-links .social-icon-container {
    text-align: center;
  }
}


.footera {
  background-color: #f4f4f4;
  padding: 40px 80px;
  width: 100%;
}

.title1 {
  font-size: 23px;
  padding-bottom: 20px;
}

.help-container {
  background-color: white;
  margin: 10px;
  min-height: 100px;
  padding: 12px;
}

.title2 {
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 10px;
}

.desc { 
  color: #9e9e9e;
}