body.spaced-for-kaltura-nav {
  padding-top: 66px;
}
#KalturaNav {
  padding: 8px 16px;
}

#KalturaNav .navbar-brand {
  display: inline-block;
  padding: 0.3125rem 0rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

#KalturaNav .btn-success {
  color: #fff;
}
#KalturaNav .btn-success:hover {
  background-color: #04775e;
}

#KalturaNav .navbar-brand img {
  height: 30px;
  display: inline;
}
#KalturaNav .brand-subtitle {
  font-family: "Soho";
  text-transform: none;
  display: inline;
  padding-left: 13px;
  font-weight: 500;
  border-left: 1px solid #ccc;
  margin-left: 15px;
  height: 40px;
  vertical-align: middle;
  font-size: 20px;
  color: rgb(33, 37, 41);
}
@media (max-width: 402px) {
  #KalturaNav .brand-subtitle {
    display: none;
  }
}

@media (max-width: 305px) {
  #KalturaNav .navbar-brand img {
    display: none;
  }
}
@media (max-width: 991px) {
  #KalturaNav .navbar-header {
    float: none;
  }
}

#KalturaNav.navbar button.navbar-toggle,
#KalturaNav.navbar li.dropdown > a,
#KalturaNav.navbar li.dropdown > a:hover,
#KalturaNav.navbar li.navbar-link > a:not(.btn) {
  color: #4A4A4A;
  background-color: #fff;
}
#KalturaNav.navbar li.navbar-link:hover > a:not(.btn) {
  opacity: .7;
}
#KalturaNav.navbar ul.nav li.navbar-link > a {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
}
#KalturaNav.navbar ul.nav li.navbar-link > a.btn {
  height: 32px;
  font-size: 14px;
  padding: 4px 20px;
  margin-top: 7px;
  margin-left: 15px;
}

#KalturaNav ul.nav {
  font-family: 'Source Sans Pro', sans-serif;
}

#KalturaBlogContent a {
  color: #fff;
}

.has-search .form-control-feedback {
  right: initial;
  left: 0;
  color: #ccc;
}

.has-search .form-control {
  padding-right: 12px;
  padding-left: 34px;
  width: 350px;
}