.step-progress-horizontal.bg-primary,
.step-progress-horizontal .bg-primary {
  background-color: #fff;
}
.step-progress-horizontal .step-progress-circle,
hr.horizontal-line {
  border-color: #ccc !important;
  color: #ccc !important;
}
.step-progress-horizontal .step-progress-step.active .step-progress-circle,
.step-progress-horizontal .step-progress-step:hover .step-progress-circle {
  color: #666 !important;
  border-color: #333 !important;
  border-width: 2px !important;
  height: 30px !important;
  width: 30px !important;
  margin: 0px !important;
  box-shadow: none !important;
}

.parameters-title:after {
  content: "Set the values below to try this step";
}
.parameters-title {
  background-color: #f5f5f5 !important;
}

.parameters-title h4, .sample-code-title h4 {
  text-decoration: underline;
}
