#KalturaSidebar {
  display: none;
}

@media (min-width: 992px) {
  body.ui-workflows.spaced-for-kaltura-sidebar app .container-fluid,
  body.ui-workflows.spaced-for-kaltura-sidebar .loading-screen,
  body.ui-workflow.spaced-for-kaltura-sidebar app .container-fluid,
  body.ui-workflow.spaced-for-kaltura-sidebar .loading-screen {
    margin-left: 330px;
  }
  body.ui-workflows.spaced-for-kaltura-sidebar app .main-container,
  body.ui-workflows.spaced-for-kaltura-sidebar .loading-screen,
  body.ui-workflow.spaced-for-kaltura-sidebar app .main-container,
  body.ui-workflow.spaced-for-kaltura-sidebar .loading-screen {
    min-height: 1000px !important;
  }

  body.ui-workflows #KalturaSidebar,
  body.ui-workflow #KalturaSidebar {
    display: block;
    position: absolute;
    left: 20px;
    top: 24px;
    width: 300px;
    font-size: 14px;
  }
  body.spaced-for-kaltura-nav #KalturaSidebar {
    top: 72px;
  }

  #KalturaSidebar .sidebar-content {
    background-color: #999;
    padding: 20px;
    width: 275px;
    float: left;
    border-radius: 4px;
  }

  #KalturaSidebar .sidebar-button {
    float: right;
  }
  #KalturaSidebar .sidebar-button a {
    font-size: 22px;
    color: #999;
  }
  #KalturaSidebar .sidebar-button a.show-sidebar {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    background-color: #999;
  }

  #KalturaSidebar .sidebar-content,
  #KalturaSidebar .section a,
  #KalturaSidebar .section h4 {
    color: #fff;
  }

  #KalturaSidebar hr {
    margin-right: -20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #KalturaSidebar h4 {
    margin-top: 0px;
    font-size: 16px;
  }

  #KalturaSidebar .section {
    margin-bottom: 50px;
  }
  #KalturaSidebar .light-section {
    background-color: rgba(215, 215, 215, .5);
    color: #333;
    border: 1px solid #979797;
    height: 168px;
    margin-bottom: 20px;
    padding: 20px;
  }
}
