@font-face {
  font-family: Soho;
  src: url("/homepage/assets/fonts/Monotype - Soho Gothic Pro Bold Italic.ttf");
  font-style: italic;
  font-weight: bold;
}
@font-face {
  font-family: Soho;
  src: url("/homepage/assets/fonts/Monotype - Soho Gothic Pro ExtraBold It.ttf");
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: Soho;
  src: url("/homepage/assets/fonts/SohoGothicPro-LightItalic.otf");
  font-style: italic;
  font-weight: 300;
}

h1.breadcrumbs {
    font-size: 18px;
    margin-top: 22px;
}
.breadcrumbs .fa-lock,
.breadcrumbs .fa-unlock {
  display: none;
}
.breadcrumbs .fa-chevron-right {
  font-size: 14px;
}
.discussion-frame {
  border: none !important;
}
.discussion .discussion-link {
  display: none;
}

.h2, h2 {
    font-size: 26px;
}
.side-menu-item.deprecated {
  color: #999;
}
gallery .fa-times,
side-menu .fa-times {
  color: #fff !important;
}

pre code {
  font-size: 12px;
}

.footer {
  margin-top: 50px;
}
.collapse.in {
  display: block !important;
}
