<div class="footer" id="KalturaFooterContainer">
<div id="KalturaFooter" class="w-section footer-section">
  <div class="w-container container footer-container">
    <div class="row">
      <div class="col col-sm-3 footer-links-columns">
        <h5 class="footer-headings"><a data-toggle="collapse" class="collapsed" data-target="#vpaasLinks">VPaaS<i class="fa fa-chevron-up"></i></a></h5>
        <div id="vpaasLinks" class="collapse">
          <a class="footer-links" href="https://vpaas.kaltura.com">Overview</a><a class="footer-links" href="/api-docs/Overview">API</a><a data-ix="scroll-to-apply" class="footer-links" href="https://vpaas.kaltura.com/#case_study_section" id="case_study_link">Case Studies</a><a class="footer-links" href="https://vpaas.kaltura.com/register.php?utm_source=developertools&utm_campaign=login&utm_medium=website">Register for a Free Trial</a>
        </div>
      </div>
      <div class="col col-sm-3 footer-links-columns">
        <h5 class="footer-headings"><a data-toggle="collapse" class="collapsed" data-target="#toolsLinks">Tools<i class="fa fa-chevron-up"></i></a></h5>
        <div id="toolsLinks" class="collapse">
          <a class="footer-links" href="/console">API Test Console</a><a class="footer-links" href="/api-docs/Client_Libraries">Client Libraries</a><a class="footer-links" href="/player">iOS &amp; Android Mobile SDKs</a><a class="footer-links" href="/workflows">Interactive Workflows</a><a class="footer-links" href="https://vpaas.kaltura.com/documentation/04_Web-Video-Player/">Player Toolkit</a><a class="footer-links" href="https://github.com/kaltura" target="_blank">Kaltura on Github</a><a class="footer-links" href="https://stackoverflow.com/questions/tagged/kaltura" target="_blank">Kaltura on Stack Overflow</a>
        </div>
      </div>
      <div class="col col-sm-3 footer-links-columns">
        <h5 class="footer-headings"><a data-toggle="collapse" class="collapsed" data-target="#resourcesLinks">Resources<i class="fa fa-chevron-up"></i></a></h5>
        <div id="resourcesLinks" class="collapse">
          <a class="footer-links" href="/api-docs">API Documentation</a><a class="footer-links" href="https://knowledge.kaltura.com" target="_blank">Knowledge Center</a><a class="footer-links" href="https://university.kaltura.com" target="_blank">Kaltura University</a><a class="footer-links" href="https://corp.kaltura.com/live-webinars" target="_blank">Webinars</a><a class="footer-links" href="http://videos.kaltura.com" target="_blank">Kaltura Video Tutorials</a>
        </div>
      </div>
      <div class="col col-sm-3 footer-links-columns">
        <h5 class="footer-headings"><a data-toggle="collapse" class="collapsed" data-target="#communityLinks">Community<i class="fa fa-chevron-up"></i></a></h5>
        <div id="communityLinks" class="collapse">
          <a class="footer-links" href="https://vpaas.kaltura.com/partners">Partner Network</a><a class="footer-links" href="https://forum.kaltura.org" target="_blank">Forums</a><a class="footer-links" href="https://corp.kaltura.com/kaltura-events" target="_blank">Meet Kaltura at Events</a><a class="footer-links" href="https://blog.kaltura.com">Blog</a>
        </div>
        <div class="secondary-links">
          <h5 class="footer-headings footer-heading-margin"><a data-toggle="collapse" data-target="#openSourceLinks">Open Source<i class="fa fa-chevron-up"></i></a></h5>
          <div id="openSourceLinks" class="collapse">
            <a class="footer-links" href="https://www.kaltura.org/" target="_blank">opensource.kaltura.org</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kaltura-links">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12 col-sm-4">
          <img src="/assets/images/Kaltura-Logo-white.png">
        </div>
        <div class="col col-xs-12 col-sm-4 footer-last-links-column">
          <a class="sub-footer-links" target="_blank" href="https://corp.kaltura.com/About-Kaltura">About</a>
          <a class="sub-footer-links" href="/sitemap.xml" target="_blank">Sitemap</a>
          <a class="sub-footer-links" target="_blank" href="https://corp.kaltura.com">Kaltura.com</a>
        </div>
        <div class="social-icon-container col col-xs-12 col-sm-4">
          <a href="https://stackoverflow.com/questions/tagged/kaltura" target="_blank"><div class="social-div fa-stack-overflow fa fa-2x"></div></a>
          <a href="https://github.com/kaltura" target="_blank"><div class="social-div fa-github fa fa-2x"></div></a>
          <a href="https://twitter.com/Kaltura" target="_blank"><div class="social-div fa fa-twitter fa-2x"></div></a>
          <a href="https://www.linkedin.com/company/kaltura" target="_blank"><div class="social-div fa fa-linkedin fa-2x"></div></a>
        </div>
      </div>
    </div>
  </div>
  <div class="w-container container copyright-container">
    <div class="row">
      <div class="col col-xs-12 copyright-column">
        <div class="footer-copyright">Copyright &#xA9; <span id="KalturaYear"></span> Kaltura Inc.</div>
        <script>
          document.getElementById('KalturaYear').innerHTML = (new Date()).getFullYear();
        </script>
        <div class="footer-copyright-description">All Rights Reserved. Designated trademarks and brands are the property of their respective owners.
          <br>Use of this web site constitutes acceptance of the Terms of Use and Privacy Policy.</div>
      </div>
    </div>
  </div>
</div>
</div>
<script>
if (window.lucybot.embed) {
  elem = document.getElementById('KalturaFooterContainer');
  if (elem) elem.remove();
}
</script>

