doctype html
html
  head
    include ./head
  body
    include ./navbar
    .page.player-home
      include ./player-welcome
    .page.page-inverse.signup-page
      include ./signup
    .footer-bg-blue 
    include ./footer.html
